<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
	    <select ng-model="selectedDistrict" ng-change="" ng-options="district.name for district in districts">
	        <option value="">---请选择考区---</option>
	    </select>
	    <select ng-model="selectedUnit" ng-change="selectedPosition=''" ng-options="unit.name for unit in selectedDistrict.units">
	        <option value="">---请选择单位---</option>
	    </select>
	    <select ng-model="selectedPosition" ng-options="unit.name for unit in selectedUnit.positions">
	        <option value="">---请选择职位---</option>
	    </select>
	</div>
<script src="../js/angular165/angular.js"></script>
<script>
	var app =angular.module("myApp", [])
	app.controller("myCtrl", function($scope){
		$scope.districts=[ 
			{code: '99', name: '省直', units: [
				 {code: '9901', name: '省单位1', positions: [ 
				 	{code: '990101', name: '省职位1' },
				 	{code: '990102', name: '省职位2' } 
				 ]}, 
				 {code: '9902', name: '省单位2', positions: [ 
				 	{code: '990201', name: '省职位3' }, 
				 	{code: '990202', name: '省职位4' } 
				 ]} 
			]}, 
			{code: '01', name: '长沙', units: [ 
				{code: '0101', name: '长沙单位1', positions: [ 
					{code: '010101', name: '长沙职位1' }, 
					{code: '010102', name: '长沙职位2' } 
				]}, 
				{code: '0201', name: '长沙单位2', positions: [ 
					{code: '010201', name: '长沙职位3' }, 
					{code: '010202', name: '长沙职位4' } 
				]} 
			]}
		]
	})
</script>
</body>
</html>