<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<div ng-repeat="x in str">
			<span>{{x.display}}:</span>
			<label ng-repeat="y in x.data_range">
				<input type="radio" name="{{x.display}}" ng-model="$parent.demo" value="{{y}}">{{y}}	
			</label>
			你的选择：{{demo}}
		</div>
	</div>
	<script src="../js/angular165/angular.js"></script>
	<script>
		var app = angular.module("myApp", [])
		app.controller("myCtrl", function($scope, $log, $http){
			$scope.str = [
				{
					"display":"开关",
					"data_range":["true","false"]
				},
				{
					"display":"工作模式",
					"data_range":["自动","手动"]
				}
			]
		})
	</script>
</body>
</html>